#title {
    background-color: #ff3c68;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

#title h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
    color: #fff;
}

/* Навигационная панель */
.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300; /* Light weight */
    font-size: 1.2rem;
}

/* Кнопки */
.btn {
    margin: 5% 3% 5% 0;
}

.download-button {
    margin: 5% 3% 5% 0;
}

.btn-dark {
    background-color: #000;
    border-color: #000;
}

.btn-outline-light {
    color: #fff;
    border-color: #fff;
}

.btn-outline-light:hover {
    background-color: #fff;
    color: #000;
}

/* Иконки в кнопках */
.btn i {
    margin-right: 8px;
}

/* Картинка телефона */
.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: relative;
    left: 20%;
}