body {
  margin: 0;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #E4F9F5;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Arial', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

.pro {
  text-decoration: underline;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
  height: 100vh;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
  width: 150px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
  width: 150px;
}

.mountain {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
  max-width: 80%;
}